body {
    justify-content: flex-start;
    padding: 5px;
    display: flex;
    align-items: center;
    
}

p {
    color: rgb(16, 4, 59);
    background-color: bisque;
    justify-content: center;

}
